streamlit
pandas
numpy 
scikit-learn

streamlit
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
mlxtend
pickle-mixin

streamlit
google-generativeai
langchain
langchain-google-genai


